
.morning {
    background-image: url(./images/sunrise.png);
}

.day {
    background-image: url(./images/sunny.png);
}

.night {
    background-image: url(./images/night.png);
}

.img-fit {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
